@{
    ViewData["Title"] = "Generator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SinavOlusturma.Models.VM.QuestionVM


<h1>Yazı</h1>
<br />
<form action="/ExamGenerator/Generator" method="post">
    <div class="form-group">
        <select class="form-control" id="articleTitle" name="titles">
            <option value="null">--Makale Seçiniz--</option>
        </select>
    </div>
    <div id="articleContent" name="content">

    </div>
    <div class="questionSheet">
        <div class="form-group">

            @Html.TextBoxFor(q => q.Q1.QBody, new { @class = "form-control", @placeholder = "Soru 1" })
            <br />
            <div class="row">
                <div class="col-md-6">
                    @Html.TextBoxFor(q => q.Q1.ChoiceA, new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(q => q.Q1.ChoiceB, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    @Html.TextBoxFor(q => q.Q1.ChoiceC, new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(q => q.Q1.ChoiceD, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <select class="form-control col-md-4" name="rightChoice" style="margin-left:35%;">
                <option value="null">--Doğru Cevap seç--</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
            <br />

            @Html.TextBoxFor(q => q.Q2.QBody, new { @class = "form-control", @placeholder = "Soru 2" })
            <br />
            <div class="row">
                <div class="col-md-6">
                    @Html.TextBoxFor(q => q.Q2.ChoiceA, new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(q => q.Q2.ChoiceB, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    @Html.TextBoxFor(q => q.Q2.ChoiceC, new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(q => q.Q2.ChoiceD, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <select class="form-control col-md-4" name="rightChoice" style="margin-left:35%;">
                <option value="null">--Doğru Cevap seç--</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
            <br />

            @Html.TextBoxFor(q => q.Q3.QBody, new { @class = "form-control", @placeholder = "Soru 3" })
            <br />
            <div class="row">
                <div class="col-md-6">
                    @Html.TextBoxFor(q => q.Q3.ChoiceA, new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(q => q.Q3.ChoiceB, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    @Html.TextBoxFor(q => q.Q3.ChoiceC, new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(q => q.Q3.ChoiceD, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <select class="form-control col-md-4" name="rightChoice" style="margin-left:35%;">
                <option value="null">--Doğru Cevap seç--</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
            <br />

            @Html.TextBoxFor(q => q.Q4.QBody, new { @class = "form-control", @placeholder = "Soru 4" })
            <br />
            <div class="row">
                <div class="col-md-6">
                    @Html.TextBoxFor(q => q.Q4.ChoiceA, new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(q => q.Q4.ChoiceB, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    @Html.TextBoxFor(q => q.Q4.ChoiceC, new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(q => q.Q4.ChoiceD, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <select class="form-control col-md-4" name="rightChoice" style="margin-left:35%;">
                <option value="null">--Doğru Cevap seç--</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
            <br />
        </div>
    </div>
    <button class="btn btn-primary col-md-4" type="submit" style="margin-left:35%;">SINAV OLUŞTUR</button>

</form>
<br />
<br />


<script>
    $(document).ready(function () {
        var url = 'https://www.wired.com/feed/rss';
        $.ajax({
            type: "GET",
            url: "https://api.rss2json.com/v1/api.json?rss_url=" + url,
            dataType: "jsonp",
            success: function (data) {
                console.log(data);
                for (var i = 0; i < 5; i++) {
                    $('#articleTitle').append(`<option value="` + data.items[i].title + `">` + data.items[i].title + `</option>`);
                }
            }
        });
    });

</script>
