@model SinavOlusturma.Models.VM.QuestionVM

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sınav Oluşturma</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <h1>Yazı</h1>
        <br />
        <form action="/ExamGenerator/Generator" method="post">
            <div class="form-group">
                <select class="form-control" id="articleTitle" name="titles">
                    <option value="null">--Makale Seçiniz--</option>
                </select>
            </div>
            <div id="articleContent" name="content">

            </div>
            <div class="questionSheet">
                <div class="form-group">

                    @for (int i = 1; i < 5; i++)
                    {
                        @Html.TextBoxFor(q => q.QBody, new { @class="form-control",@placeholder="Soru " + i.ToString()})
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                @Html.TextBoxFor(q => q.ChoiceA, new { @class="form-control"})
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(q => q.ChoiceB, new { @class = "form-control"})
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                @Html.TextBoxFor(q => q.ChoiceC, new { @class = "form-control"})
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(q => q.ChoiceD, new { @class = "form-control"})
                            </div>
                        </div>
                        <br />
                        <select class="form-control col-md-4" name="rightChoice" style="margin-left:35%;">
                            <option value="null">--Doğru Cevap seç--</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                        <br />
                    }
                </div>
            </div>
            <button class="btn btn-primary col-md-4" type="submit" style="margin-left:35%;">SINAV OLUŞTUR</button>

        </form>
        <br />
        <br />
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        var url = 'https://www.wired.com/feed/rss'; //XML Format
        $.ajax({
            type: "GET",
            url: "https://api.rss2json.com/v1/api.json?rss_url=" + url, //XML --> JSON
            dataType: "jsonp",
            success: function (data) {
                console.log(data);
                for (var i = 0; i < 5; i++) {
                    $('#articleTitle').append(`<option value="` + data.items[i].title +`">` + data.items[i].title + `</option>`);
                }
            }
        });
    });
    
</script>
