
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model List<SinavOlusturma.Models.VM.ExamVM>


<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Tarih</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.ID">
                <td>@item.ID</td>
                <td><a href="/Exam/Exam/@item.ID">@item.ArticleTitle</a></td>
                <td>@item.AddDate.ToString("yyyy-MM-dd")</td>
                <td>
                    <span id="confirmDeleteSpan_@item.ID" style="display:none">
                        <span>Silme işlemini onaylıyor musun?</span>
                        <button type="submit" class="btn btn-outline-success delete" id="@item.ID">Evet</button>
                        <a href="#" class="btn btn-outline-danger" onclick="confirmDelete('@item.ID',false)">Hayır</a>
                    </span>

                    <span id="deleteSpan_@item.ID">
                        <a href="#" class="btn btn-outline-danger" onclick="confirmDelete('@item.ID',true)"><i class="material-icons">Sil</i></a>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>



<script>
    function confirmDelete(Id, isTrue) {
        var deleteSpan = 'deleteSpan_' + Id;
        var confirmDeleteSpan = 'confirmDeleteSpan_' + Id;

        if (isTrue) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();
        }
        else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();
        }
    }
</script>
<script>
    $(document).on("click", ".delete", function () {
        let id = $(this).attr("id");

        $.ajax({
            url: "/Home/Delete",
            type: "POST",
            data: { id: id },
            success: function (msg) {
                alert(msg);
                $("#" + id).fadeOut();
            },
            error: function (err) {
                alert("Silme sırasında hata meydana geldi!")
            }
        })
    })
</script>

