
@{
    ViewData["Title"] = "Exam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SinavOlusturma.Models.VM.UserExamVM

<style>
    .row {
        margin-left: 15%;
    }

    .contents {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>


<div class="contents">
    <h1>@Model.ArticleTitle </h1>
    <p>CONTENT WILL BE HERE</p>
</div>

<div class="row">
    <div class="col-md-5">
        <p>1) @Model.Q1.QBody</p>
        <ul class="list-group">
            <li class="list-group-item" id="a1">A) @Model.Q1.ChoiceA</li>
            <li class="list-group-item" id="b1">B) @Model.Q1.ChoiceB</li>
            <li class="list-group-item" id="c1">C) @Model.Q1.ChoiceC</li>
            <li class="list-group-item" id="d1">D) @Model.Q1.ChoiceD</li>
        </ul>
    </div>
    <div class="col-md-5">
        <p>2) @Model.Q2.QBody</p>
        <ul class="list-group">
            <li class="list-group-item" id="a2">A) @Model.Q2.ChoiceA</li>
            <li class="list-group-item" id="b2">B) @Model.Q2.ChoiceB</li>
            <li class="list-group-item" id="c2">C) @Model.Q2.ChoiceC</li>
            <li class="list-group-item" id="d2">D) @Model.Q2.ChoiceD</li>
        </ul>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-5">
        <p>3) @Model.Q3.QBody</p>
        <ul class="list-group">
            <li class="list-group-item" id="a3">A) @Model.Q3.ChoiceA</li>
            <li class="list-group-item" id="b3">B) @Model.Q3.ChoiceB</li>
            <li class="list-group-item" id="c3">C) @Model.Q3.ChoiceC</li>
            <li class="list-group-item" id="d3">D) @Model.Q3.ChoiceD</li>
        </ul>
    </div>
    <div class="col-md-5">
        <p>4) @Model.Q4.QBody</p>
        <ul class="list-group">
            <li class="list-group-item" id="a4">A) @Model.Q4.ChoiceA</li>
            <li class="list-group-item" id="b4">B) @Model.Q4.ChoiceB</li>
            <li class="list-group-item" id="c4">C) @Model.Q4.ChoiceC</li>
            <li class="list-group-item" id="d4">D) @Model.Q4.ChoiceD</li>
        </ul>
    </div>
</div>
<br />
<div>
    <button class="btn btn-primary col-md-4 submit" style="margin-left: 35%;">SINAVI TAMAMLA</button>
</div>



<script>
    $(".list-group-item").click(function () {
        $(this).parent().children().removeClass("active");
        $(this).addClass("active");

    });

    $(".submit").click(function () {

        var examId = @Model.ID;

        var url = "/Exam/Answers/" + examId;

        var answerone = "";
        var answertwo = "";
        var answerthree = "";
        var answerfour = "";

        $.ajax({
            type: "GET",
            url: url,
            async:false,
            dataType: "json",
            success: function (data) {
                console.log(data);
                answerone = data.answerOne;
                answertwo = data.answerTwo;
                answerthree = data.answerThree;
                answerfour = data.answerFour;
            }
        });
        var id1 = "#" + answerone.toLowerCase() + "1";
        var id2 = "#" + answertwo.toLowerCase() + "2";
        var id3 = "#" + answerthree.toLowerCase() + "3";
        var id4 = "#" + answerfour.toLowerCase() + "4";

        $(id1).css("background-color","green");
        $(id2).css("background-color","green");
        $(id3).css("background-color","green");
        $(id4).css("background-color","green");
    });
</script>